* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --primary-color: #53565a;
  --background-color: #f5fcf8;
  --tertiory-color:#435870;
  --font-body-family: Poppins, sans-serif;
}
h1.logo {
  margin: 0px 0px 0px -7.5px;
  padding: 7.6px 7.5px  7.5px 7.5px;
}
.flex {
  display: flex;
}
.txt-decoor-n {
  text-decoration: none;
}
.page_width {
  max-width: 1600px;
  margin: 0 auto;
}
.txt-center {
  text-align: center;
}
.primary_color {
  background-color: #f5fcf8;
}
.Anouncement-bar {
    position: relative;
    z-index: 1;
    font-size: 13px;
    padding: 0.2px 50px 2.7px 50px;
    color: var(--primary-color);
    font-family: var(--font-body-family);
    border-bottom: 4x solid #f5fcf8;
}
.a-txt {
    padding: 10px 0px 10px 0px;
}
.font-family {
  font-family: "Poppins", sans-serif;
}
.announcement-txt {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
}
.full-width {
  width: 100%;
}
.banner-vedio{
    width: 100%;
    margin-top: -112px;
}
.vedio-txt-ctn {
  position: absolute;
  top: 99.9%;
  left: 34%;
  transform: translate(-50%, -50%);
}
.vedio-txt {
  max-width: 790px;
  line-height: 1.2;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.custom-btn {
  position: absolute;
  top: 99.9%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 130px;
  color: #fff;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 1000px;
  background-color: var(--tertiory-color);
  font-weight: 500;
}
header {
  width: 100%;
  height: 75px;
}
.nav-li {
    padding: 0px 4px;
    margin: 0px -6px;
}
.main {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:12px 30px 2.6px 30px;
  border-radius: 5px;
  width: 100%;
}
.li {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.6px;
    color: var(--tertiory-color);
    font-family: var(--font-body-family);
    padding: 0px 11px 9px 20px;
    font-weight: 600;
    font-size: 16px;
    opacity: 0.8;
}
.navlink {
  list-style: none;
}

  .header-icons {
    gap: 14px;
    padding: 0px 0px 0px 12px;
}

.icon-border {
  font-size: 14px;
  font-family: var(--font-body-family);
}
.icon_border{
  height: 24px;
  border-right: 1px solid #43587061;
}
.header-wraper{
  position: sticky;
  z-index: 1;
  padding: 30px;
  padding-bottom: 0px;
  top: 0;
}
.mega-menu {
     margin: 30px;
}

.aboutus {
   visibility: hidden;
    background-color: white;
    height: 142px;
    width: 16%;
    margin-top: 89px;
    top: 0%;
    left: 43%;
    padding: 30px;
}
.aboutus-ul{
   color: var(--tertiory-color);
   font-size: 17px;
   font-weight: 400;
   font-family: var(--font-body-family);
   display: flex;
   flex-direction: column;
   gap: 25px;
   list-style: none;
   cursor: pointer;
}
.mega-menu-wrapper {
    visibility: hidden;
    top: 0;
    left: 0.2px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin-top: 59px;
    transition: opacity 0.2s linear, visibility 0s linear 0.2s;
}
.mega-menu-content {
    height: 450px;
    overflow: auto;
}
header:has(.dropdown-hover:hover) .mega-menu{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  
}  
header:has(.dropdown-hover2:hover) .aboutus{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  
}  
 .aboutus:hover{
 visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.mega-menu:hover{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.position-absoulte{
  position: absolute;
} 
.bg-white{
  background-color: white;
}
.list-none{
  list-style: none;
}
.shop-text h3{
 color: var(--tertiory-color);
 font-size: 16px;
 font-family: var(--font-body-family);
}
.card-headings{
  font-family: var(--font-body-family);
  font-size: 14px;
  color: #727578;
  text-decoration: none;
}
.shop-text{
  display: flex;
  flex-direction: column;
    gap: 20px;
    width: 43%;
    padding: 40px;
}
.show-heading-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card img {
    padding: 15px;
    aspect-ratio: 2/2.5;
    border-radius: 20px;
}
.shop-img-card {
    padding: 30px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-txt h3 {
 color: var(--tertiory-color);
 font-size: 16px;
 font-family: var(--font-body-family);
 text-align: center;
}
.card-txt{
  text-decoration: none;
}